
html, body {
	height:auto;
}

@import url(//fonts.googleapis.com/css?family=Ubuntu:400);
@import url(//fonts.googleapis.com/css?family=Ubuntu:300);
@import url(//fonts.googleapis.com/css?family=Ubuntu:500);
@import url(//fonts.googleapis.com/css?family=Ubuntu:700);


body {
	min-width: 300px;
	color:#a3a19b;

}
#search-results{
	padding:0px 10px 0px 5px;
	overflow:hidden;
	background-color: #EFF3F4;
    font: 16px/18px 'Roboto', sans-serif;
    color: #6a727f;
    background: url(../img/main_bg.png) 0 0 repeat;
}


h3 {
	font-size: 30px;
	line-height: 30px;
	padding-top: 51px;
	margin-bottom: 20px;
}


#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}


.search_link {
	padding-top: 0px;
	display: inline-block;
	font-family:'Roboto', sans-serif ;
	padding-left: 5px;
	margin-bottom: 10px;
	font-size: 30px; 
	line-height: 30px;	
	text-shadow: none;
	font-weight: normal;
	color: #424d51;

}

.search_link:hover {
	color: #ee8668;
}

h4 {
margin-left: 0px;	
}


ol.search_list {
	list-style-type:none;
	counter-reset: ol;
	padding-left: 0;
	margin-left: 25px;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:8px 0px 0 -40px
}
ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
	background: none !important;
}
span.match {
	color:#ee8668;
	font-size:11px;
	display:block;
	
	
}
span.search {
	color:#ee8668;

}
.search_link{
	text-decoration: none;
}
.search_link:hover{
	text-decoration: underline;
}
